@media screen and (max-width: 910px) {

	/*--Общее--*/

	body {
		font-size: 18pt;
	}
	/*--Шапка--*/
	
	.head-img-1, .head-img-2, .head-img-3, .head-img-4 {
		display: none;
	}
	.head-a {
		height: 80px;
		line-height: 1px;
	}
	.head-span-name {
		left: 35px;
		color: #000;
	}
	.a1 {
		top: 35px;
		font-size: 100%;
	}
	.a2 {
		top: 55px;
		font-size: 55%;
	}
	.nav a, #contacts {
		font-size: 67%;
	}
	.nav a {
		width: 15%;
		padding: 8px 6px;
		margin: 0px auto;
	}
	/*Картинка/лого - по центру шапки*/
	.head-img-0 {
		display: none;
	}

	/*--Подвал--*/
	
	footer {
	margin-top: -148px; 
	}
	.empty {
		height: -158px;
	}
	/* фон заголовка подвала */
	.footer-line {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	/* Заголовок подвала */
	#contacts {
		margin: 8px 0px;
	}
	/* Контактные данные */
	address, .copyright {
		font-size: 55%;
	}
	/* Див иконок соц сетей */
	.address-soctial {
		display: inline-block;
		margin: 0px 10px;
	}/*
	.vk, .inst, .fb {
		display: block;
	}*/
	/* Заголовок */
	.address-soctial p {
		font-size: 100%;
		padding: 0px;
	}
	/* Иконки соц сетей */

	/* Отдельными иконками 
	address img { 
		width: 35px;
		margin: 5px;
	}*/

	.address-data {
		line-height: 130%;
	}
	/* Копирайт */

	/* стрелка наверх */
	.arrow-up {
		width: 30px;
		right: 40px;
		bottom: 20px;
	}
		
		/* Контент каталога */ 

	/* Высота букв в подписи */ 
	.catalog-content, .order-content figcaption {
		font-size: 70%;
	}
	/*карточки товара и их див*/
	.choice-card, .cell-table {

	}/*
	.choice-card-a:hover {
		background-color: #f00;
	}*/
	/*стили карточки товара*/
	.choice-card {
	//	border: 1px solid #000;
	}
	.choice-card-top {
		width: 206px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
	.choice-card-img, .buy, .basket {
	}
	.choice-card-img {
		width: 170px;
		height: 170px;
	}
	.buy, .basket {
		display: inline-block;
		width: 102px;
		height: 30px;
	}
	.buy {
		border-bottom-left-radius: 20px;
	}
	.basket {
		border-bottom-right-radius: 20px;
	}
	}
	.cell-8 {

	}
	
	
}



@media screen and (max-width: 425px) {

/*--Общее--*/

	/*--Шапка--*/
	body {
		min-width: 285px;
		font-size: 5pt;
	}
	.head-img-1, .head-img-2, .head-img-3, .head-img-4 {
		display: none;
	}
	.head-a {
		height: 60px;
		line-height: 1px;
	}
	.head-span-name {
		font-size: 16pt;
		font-size: 16pt;
		color: #000;
		top: 30px;
		left: 10px;
		background-color: #fff;
		border: 1px solid #000;
	}
	.a1 {
		top: 25px;
		font-size: 16pt;
		font-size: 16pt;
	}
	.a2 {
		top: 40px;
		font-size: 8pt;
	}
	.nav a {
		vertical-align: middle;
		font-size: 10pt;
		font-size: 10pt;
		width: 20%;
		padding: 6px 4px;
		margin: 0px auto;
	}
	
	/*--Подвал--*/
	
/*стрелка наверх*/
	.arrow-up {
		position: fixed;
		width: 30px;
		left: 30px;
		bottom: 40px;
	}
	.address-data {
		text-align: center;
		line-height: 130%;
	}
	
/*--Каталог--*/

/*подпанель панели навигации в каталоге*/
	.catalog-nav {

	}
/*стиль ссылок-кнопок подпанели панели навигации
 и правые границы кнопок*/
	.catalog-nav a {

	}
	.catalog-nav a:hover {

	}
}


